/* -------------Google fonts links ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* -----------body style  ---------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ----start----- Website header option styel  ------------*/
.copa-america{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
    width: 100%;
}
.copa-title{
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
}
.copa-title .title{
    Weight:700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.live-video a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.photo img{
    width: 556px;
    height: 438px;
    margin-top: 170px;
    margin-right: 90px;
    margin-bottom: 60px;
}
/* end -------x---- website header option style  -----x------*/

/* --------------x----player bio detail  --------x---*/
.player-thumbnail img{
    width: 300px;
    height: 256px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 210px;
    margin-left: 50px;
    margin-top: 70px;
    grid-gap: 30px 27px;
}
.player{
    Width: 330px;
    Height:474px;
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-name{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin-top: 18px;
    margin-bottom: 10px;
}
.player-bio{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}
.player-detail{
    margin-left: 13px;
}
/* -----------x-----player bio end---------x------- */

/* ----------------top blogs start  --------------*/
.top-blogs{
    margin-left: 50px;
}
.section-title{
    font-size: 24px;
    color: #c040e7;
    margin-top: 60px;
}
.blog{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color:#562EFF;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    width: 90%;
    
}
/* --------x------------top blogs end  -------------*/
.team-logo img{
    width: 100px;
    height: 100px;
}
.team-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin-top: 60px;
    margin-left: 150px;
}
.copa-team .heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: rgb(105, 187, 219);
}


/* ----------start-------- footer option  ------*/

.logo img{
    width: 483.87px;
}
.footer-option {
    text-align: center;
    margin-top: 60px;
}
.footer .copyright{
    Size:18px;
    Line-height:24px;
    color: #000000;
}
.s-links a{;
}
.s-links a i{
    width: 32px;
    height: 32px;
    color: #969BAB;
    margin-top: 10px;
}
/*----------------x------ footer end -----------x- */

/* ------------ For mobile device media queries ------------- */
@media only screen and (max-width: 688px) {
     .copa-america, .players, .blogs, .team-list, .logo img{
        width: 100%;
        margin: 0%;
        padding: 0%;
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
    }
    .copa-title{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
    }
    .copa-title .title{
    font-size: 18px;
    color: #FFFFFF;
    }
    .photo img{
    width: 110%;
    margin-top: 20px;
    margin-bottom: 80px;
    }

}
/* ---------------end media queries------------------ */